<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Netfleet</title>
            <h1> Bienveue sur Netfleet !</h1>
    </head>
    <body>
            <h2>Lorem ipsum dolor sit amet!</h2>
    </body>
</html>
