{% extends 'base.html.twig' %}

{% block title %}Tous les films{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        Afin d'afficher l'ensemble des films

        Cliquez sur ce lien :

        <a id="target" href="{{ path('create') }}" target="_blank">Insérer un film dans la BDD</a>
    </div>
    <script>
        document.getElementById("boo").addEventListener("click",
            function (event) {
                // Remove .preventDefault()
                setTimeout(function() {window.history.back()}, 2000);
            }
        );
    </script>
{% endblock %}